/* 5356FF , #378CE7 , #67C6E3 , #DFF5FF */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

canvas {
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #DFF5FF;
  color: #5356FF;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1vh;
}

p {
  text-align: center;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#center-child {
  width: 90%;
  height: 50%;
}

#questions,
#persona,
#menu,
#qbox {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

#choice {
  text-align: center;
  border: 1px solid #378CE7;
  background-color: #5356FF;
  color: white;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

#choice:hover {
  background-color: #378CE7;
}

#choice:active {
  background-color: #67C6E3;
}

footer {
  text-align: center;
}

#progress {
  background-color: #67C6E3;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 3rem;
  transition: transform 0.3s ease-in-out;
  margin: 1vh;
}

#progress:hover {
  transform: scale(1.2);
}



input[type=text] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 20px;
}

button {
  background-color: #378CE7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 10px;
}

.button:hover {
  background-color: #67C6E3;
}

.button:active {
  background-color: #5356FF;
}